<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Rental Website{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'static/css/style.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <h1><a href="{% url 'home' %}">UAV Rental</a></h1>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <main>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <footer>
        <div class="container">
            <p>&copy; {% now "Y" %} Rental Website</p>
        </div>
    </footer>

    
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>